In [33]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_country_df(condition, country):
    df = pd.read_csv(f"data/time_{condition}.csv")
    df = df.loc[df["Country/Region"] == country]
    df = df.drop(columns=["Province/State", "Country/Region", "Lat", "Long"]).sum().reset_index(name=condition)
    df = df.rename(columns={"index":"date"})
    return df

final_df = None

for condition in conditions:
    condition_df = make_country_df(condition, "Korea, South")
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)
        
final_df

         date  confirmed  deaths  recovered
0     1/22/20          1       0          0
1     1/23/20          1       0          0
2     1/24/20          2       0          0
3     1/25/20          2       0          0
4     1/26/20          3       0          0
..        ...        ...     ...        ...
300  11/17/20      29311     496      25973
301  11/18/20      29654     498      26098
302  11/19/20      30017     501      26263
303  11/20/20      30403     503      26365
304  11/21/20      30733     505      26466

[305 rows x 4 columns]